<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="sidebar-brand"> Noble<span>UI</span> </a>
  </div>
</nav>

<div class="page-wrapper">
  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-nav">
        <div class="nav-item dropdown" (click)="logOut()">
          <a
            href="javascript:;"
            class="text-body ms-0 d-flex align-items-center"
          >
            <span class="material-icons fs-6 me-2">logout</span>
            <span>Log Out</span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <ng-content></ng-content>

  <footer
    class="footer d-flex flex-column flex-md-row align-items-center justify-content-between px-4 py-3 border-top small"
  >
    <p class="text-muted mb-1 mb-md-0">
      Copyright © 2022
      <a href="https://www.nobleui.com" target="_blank">NobleUI</a>.
    </p>

    <p class="text-muted">
      Handcrafted With
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-heart mb-1 text-primary ms-1 icon-sm"
      >
        <path
          d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
        ></path>
      </svg>
    </p>
  </footer>
</div>
